inputHorm1DiffCoeff=([100, 250], 8)
horm1Efficacy=([0.1, 10], 8)
horm1DivOrientVertComp=([1, -1], 8)
horm1DivOrientHoriComp=([1, -1], 8)

horm1toHorm2Ratio = ([0.3, 0.99], 8)
horm2Efficacy = ([0.1, 10], 8)
hormone2IntroTime = ([0.0006, 0.3], 8)
horm2SourceHor = ([-1, 1], 8)
horm2SourceVer = ([-1, 1], 8)
horm2DivOrientVertComp = ([1, -1], 8)
horm2DivOrientHoriComp = ([1, -1], 8)

RDfeedRate = ([10, 50], 8)
RDfeedToKillRatio= ([0.3, 0.99], 8)
reactRate1to2 = ([4000, 7000], 8)
lengthOfHorm2Prod = ([0.05, 1], 8)
